* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: unset;
  }

  :root {
    /*colors*/

    --primary: #2C7EF8;
    --primary-hover-light: #075CD9;
    --on-primary-light: #FFFFFF;
    --background-light: #FFFFFF;
    --on-background-light: #191C1E;
    --surface-light: #FFFFFF;
    --button-about-us: #EBF3FE;
    --text-gray: #666666;
    --text-gray-p: #444749;
    --text-bold: #070D31;
    --text-placeholders: #BBBBBB;
    --card-border: #F5F6F8;
    --border-footer: #A1A1A1;
    --text-gray2: #6F7076;
    

    
    /* sizes  */
    --text-size-10: 10px;
    /* shadows */
    --card-shadow: box-shadow: 0px 4px 63px 0px #00000008;

  }

/* .figmashadow{
  box-shadow: 0px 4px 18px 0px #1848900F;
  ;
} */
  #section1 {
    background-image: linear-gradient(
      rgba(235, 243, 255, 1),
      rgba(255, 255, 255, 1)
    );
  }
  .in-card-container h3{
    color: var(--text-bold);
  }
  .in-card-container p{
    color: var(--text-gray-p);
  }
  @media (min-width:640px){
    .card-container{
      gap: 8px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 12px;
      padding-right: 12px;
    }
    .in-card-container{
      gap: 10px;
    }
    .in-card-container p {
      line-height: 16px;
    }
    .in-card-container h3{
      line-height: 21.6px;
    }
  }
  @media (min-width:768px){
    .card-container{
      flex-wrap: wrap;
      gap: 20px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 28px;
      padding-bottom: 28px;
      box-shadow: 0px 4px 63px 0px #00000008;

    }
    .in-card-container{
      gap: 16px;
    }
    .in-card-container p {
      font-size: 14px;
      line-height: 30px;
      text-align: center;
    
    }
    .in-card-container h3{
      font-size: 20px;
      line-height: 36px;
      text-align: center;
    }
    .footer-contact{
      border: none;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    .contact-us{
      box-shadow: 0px 4px 63px 0px #00000008;
      margin-left: 160px;
      margin-right: 160px;
      margin-top: 116px;
      margin-bottom: 116px;
      
    }
    .contact-form{
      border: none;
      border-right: 1px solid #E0E0E0;
      border-radius: 0px;
      padding-right: 32px;
    }
  }
  